<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>06_Event</title>
</head>
<style>
    p {
        color: red;
    }
</style>
<body>
    
    <div id="app">
        <!-- <button onclick="clickMe()">Click Me</button> -->
        <!-- <button v-on:click="clickMe()">Click Me</button> -->
        <!-- <button @click="clickMe()">Click Me</button> -->

        <h1> {{number}} </h1>
        <button @click="dec()">Decrease</button>
        <button @click="inc()">Increase</button>

        <p v-if="number < 0">It is minus number</p>
        <p v-if="number == 0">It is equal zero</p>
        <p v-if="number > 0">It is plus number</p>

        <!-- <input type="text" v-model="myText" v-on:keyup.enter="send()"> -->
        <input type="text" v-model="myText" @keyup.enter="send()">
        <!-- <div>{{myText}}</div> <br> -->
         <button @click="send()">Send</button>
    </div>

    <!-- CDN =>  Development  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <!-- <script>
        function clickMe() {
            alert("hello world");
        }
    </script> -->
    <script>
        let app = new Vue({
            el : "#app",
            data : {
                number : 0,
                myText:''
            },
            // methods: {
            //     clickMe:function() {
            //         alert('Vue js');
            //     }
            // }
            methods: {
                clickMe() {
                    alert('Vue js');
                },
                dec() {
                    this.number--;
                    },
                inc() {
                    this.number++;
                },
                send() {
                    console.log(this.myText)
                    this.myText = ''
                }   
            }
        });

    </script>
</body>
</html>